/****************TAG SELECTORS *************************/

body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather',serif;
    margin: 0 0;
    
}

h1{
    margin-top: 50px;
    margin-bottom : 0px;
    font-family: 'Sacramento', sans-serif;
    font-size: 5.6rem; /*16px 90px/16*/
    color: #17315e;
    position: relative;
    z-index: 1;

    
}

h2,h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.1rem;
    color : #20597d;
    font-weight: normal;
}

hr{
    margin: 50px auto 50px auto;
    border-top:#919dd0 5px dotted;
    width: 10%;

}

a{
    color:#48889f ;
    text-decoration: none ;
    margin: 0px 15px 0 15px;
   
}


a:hover{
    color:#e7ecee ;
}

/****************CLASS SELECTORS *************************/

.top-container{
background-color: #9fc1cd;
position: relative;
padding-top: 100px;
}


.bottom-container{
background-color : #7abcd3;
font-family: 'Merriweather',serif;
padding: 30px 0 5px;
}

.tcloud{
    position: absolute;
    right: 300px;
    top: 50px;
   
}

.bcloud{
   position: absolute;
   left: 250px;
   bottom: 310px;
}

.img{
    position: relative;
    max-width: 20%;
   
}
.skillimg{
    width: 5rem;
    margin-right: 20px;

}
.contact-me{
margin-bottom: 50px;
}

.myButton {
	
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
    
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}

.copy{
    color: rgb(238, 245, 250);
    font-size: 0.75rem;
    padding: 20px 0;
}


/****************media *************************/

@media (max-width:600px){
    .mountain {
        width: 50%;
       
    }

    h2,h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color : #20597d;
    font-weight: normal;
    }

    .bcloud {
    top:20%;
    margin-left: 6rem;
    }
}
